.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}
.error {
  position: fixed;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  background: #ff553c;
  padding: 20px;
  border-radius: 4px;
}
.header {
  position: relative;
  z-index: 2;
  display: flex;
  align-content: center;
  background: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.header-form {
  padding: 12px;
}
.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.editor {
  flex: 1 0;
  width: 100%;
  height: 100%;
  background: #efefef;
  overflow: auto;
}
.editor .konvajs-content {
  margin: 0 auto;
}
.editor-footer {
  padding: 4px 12px;
  box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
}